
.main-text{
 color:black;
 text-shadow:2px 2px #333;
 font-family: "Karla";
 font-weight: bold;
 font-size: 3.5rem;
 line-height: 1.5;

}

.main-subtext{
 color:black;
 font-family: 'Sofia Sans Semi Condensed', sans-serif;
 font-weight: bold;
 font-size: 2rem;
 line-height: 1.5;

}
